<nav>
    <ul class="pagination">
        <li class="page-item" [ngClass]="{disabled: currentPage === 0}">
            <a (click)="currentPage=currentPage-1" class="page-link">Prev</a>
        </li>
        <ng-container *ngFor="let image of images;let i = index">
            <li class="page-item" *ngIf="checkWindowIndex(i)" [ngClass]="getClass(i)">
                <a (click)="currentPage=i" class="page-link">{{ i+1 }}</a>
            </li>
        </ng-container>
        <li class="page-item" [ngClass]="{disabled: images.length-1 === currentPage}">
            <a (click)="currentPage = currentPage+1" class="page-link">Next</a>
        </li>
    </ul>
</nav>
<div>
    <h2>{{ images[currentPage].title }}</h2>
    <img [src]="images[currentPage].url" alt="">
</div>
