<nav>
    <ul class="pagination">
        <li class="page-item" [ngClass]="{disabled: currentPage === 0}">
            <a (click)="currentPage=currentPage-1" class="page-link">Prev</a>
        </li>
        <li class="page-item" [ngClass]="getClass(i)" *ngFor="let image of images;let i = index">
            <a (click)="currentPage=i" class="page-link">{{ i+1 }}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled: images.length-1 === currentPage}">
            <a (click)="currentPage = currentPage+1" class="page-link">Next</a>
        </li>
    </ul>
</nav>
